<div class="container mt-5">
    @if (producto) {
        <div class="row">
            <div class="col-md-6 mb-4">
                <img src="{{producto.image}}" alt="Product" class="img-fluid rounded mb-3 product-image" id="mainImage">
            </div>

            <div class="col-md-6">
                <h2 class="mb-3">{{producto.title}}</h2>
                <div class="mb-3">
                    <span class="h4 me-2">$ {{producto.price}}</span>
                </div>
                <div class="mb-3">
                    @for(star of stars; track stars){
                        <i [class]="star + ' text-warning'"></i>
                    }
                    <span class="ms-2">{{producto.rating.rate}} ({{producto.rating.count}} reviews)</span>
                </div>
                <p class="mb-4">{{producto.description}}</p>
                
                <div class="mb-4">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input 
                      type="number" 
                      class="form-control" 
                      id="quantity" 
                      [(ngModel)]="cantidad" 
                      min="1" 
                      style="width: 80px;">
                  </div>
                  <button 
                    class="btn btn-primary btn-lg mb-3 me-2" 
                    (click)="addCarrito()">
                    <i class="bi bi-cart-plus"></i> Agregar al carrito
                  </button>
                <div class="mt-4">
                    <h5>Category:</h5>
                    <ul>
                        <li>{{producto.category}}</li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
